# The directory Mix will write compiled artifacts to.
endpoints/_build/

# If you run "mix test --cover", coverage assets end up here.
endpoints/cover/

# The directory Mix downloads your dependencies sources to.
endpoints/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
endpoints/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
endpoints/.fetch

# Ignore logs
endpoints/log

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
endpoints-*.tar

